{% extends 'html/base.html' %}

{% block title %}{{ gettext("Account Settings") }} - POKAL{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block alerts %}
	{% if error_msg %}
		<div class="alert alert-error">
			{{ error_msg }}
		</div>
	{% endif %}
{% endblock alerts %}

{% block page %}
	<h1 class="title">{{ gettext("Account Settings") }}</h1>
	{% if admin %}
	<div style="margin-top: 20px">
		<a href="/manage_users" class="btn">{{ gettext('Manage Users') }}</a>
		<a href="/notebook_settings" class="btn">{{ gettext('Notebook Settings') }}</a>
	</div>
	{% endif %}
	<form action="/settings" class="form-horizontal" method="post" id="account_settings_form">
		<fieldset>
			<legend>{{ gettext('User') }}</legend>
			<div class="control-group">
				<label class="control-label" for="">{{ gettext('HRZ account') }}</label>
				<div class="controls">
					<input type="text" disabled="disabled" value="{{ hrz }}">
					<p class="help-block"></p>
				</div>
				<label class="control-label" for="">{{ gettext('Email') }}</label>
				<div class="controls">
					<input type="email" id="email" disabled="disabled" value="{{ email_address }}">
					<p class="help-block"></p>
			    </div>
				<label class="control-label" for="">{{ gettext('Nickname') }}</label>
				<div class="controls">
					<input type="text" id="nickname" name="nickname" value="{{ nickname }}">
					<p class="help-block"></p>
			    </div>

			</div>

		</fieldset>


		<fieldset>
			<legend>{{ gettext("Auto-Save") }}</legend>
			<div class="control-group">
				<label class="control-label" for="autosave">{{ gettext('Interval') }}</label>
				<div class="controls">
					<select name="autosave" id="autosave">
						{% for i, selected in autosave_intervals %}
							<option value="{{ i }}"{{ selected }}>{{ i }} {{ gettext('minute(s)') }}</option>
						{% endfor %}
					</select>
					<p class="help-block"></p>
				</div>
			</div>
		</fieldset>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
			<a class="btn" href="/">{{ gettext('Cancel') }}</a>
		</div>
	</form>
{% endblock page %}

{% block extra_javascript %}
	<script type="text/javascript">
		// init notebook stuff
		sagenb.init();
	</script>
{% endblock extra_javascript %}
