{% extends 'html/base.html' %}

{% block head %}
	{{ super() }}
	<!-- TagIt -->
	<link href="/data/jquery/plugins/tagit/jquery.tagit.css" rel="stylesheet" type="text/css">
	<link href="/data/jquery/plugins/tagit/tagit.ui-sage.css" rel="stylesheet" type="text/css">
{% endblock head %}

{% block navbar %}
{% endblock navbar %}

{% block alerts %}
	{% include 'html/alerts/worksheet_locked_alert.html' %}
	{% include 'html/alerts/rename_alert.html' %}
{% endblock alerts %}

{% block before_page %}
{% endblock before_page %}


{% block page %}
	<h1 class="title"></h1>
	<!-- Deaktiviert 31.10.14, wozu gut? <div style="height: 10px;"></div>-->

	{% if published_mode %}
		{# im "Published Worksheets"-Modus, also anonym #}
		<div class="pokal well well-sm">
			Diese Seite enthält eine Liste von Arbeitsblättern (Worksheets), die von
			anderen Benutzern der POKAL-Plattform erstellt wurden. Sie eignet sich zum
			gefahrlosen Entdecken der Funktionen von POKAL. Als <a href="/login">eingeloggter Benutzer</a>
			besteht die Möglichkeit, auf diesen Arbeitsblättern aufzubauen.
		</div>
	{% endif %}

	<div class="row">
		{% if not published_mode %}
		<div class="col-md-4">
			<div class="btn-group" id="actions_menu">
				<button class="btn btn-default dropdown-toggle span2" data-toggle="dropdown">{{ gettext("Action") }} <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#" class="disabled" id="send_to_archive_button"><span class="glyphicon glyphicon-folder-close"></span> {{ gettext("Archive") }}</a></li>
					<li><a href="#" class="disabled" id="unarchive_button"><span class="glyphicon glyphicon-folder-open"></span> {{ gettext("Unarchive") }}</a></li>
					<li><a href="#" class="disabled" id="delete_button"><span class="glyphicon glyphicon-trash"></span> {{ gettext("Delete") }}</a></li>
					<li><a href="#" class="disabled" id="undelete_button"><span class="glyphicon glyphicon-ok"></span> {{ gettext("Undelete") }}</a></li>
					<li><a href="#" class="disabled" id="duplicate_button"><span class="glyphicon glyphicon-file"></span> {{ gettext("Duplicate") }}</a></li>
					<li><a href="#" class="disabled" id="stop_button"><span class="glyphicon glyphicon-stop"></span> {{ gettext("Stop") }}</a></li>
					<li><a href="#" class="disabled" id="download_button"><span class="glyphicon glyphicon-download"></span> {{ gettext("Download") }}</a></li>
					<li class="divider"></li>
					<li><a href="#" class="disabled" id="empty_trash"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ gettext("Empty Trash") }}</a></li>
				</ul>
			</div>
			
			<div class="btn-group" data-toggle="buttons-radio" id="type_buttons">
				<button type="button" class="btn btn-default active" id="show_active">{{ gettext("Active") }}</button>
				<button type="button" class="btn btn-default" id="show_archive">{{ gettext("Archive") }}</button>
				<button type="button" class="btn btn-default" id="show_trash">{{ gettext("Trash") }}</button>
			</div>
		</div>
		<div class="col-md-4">
			<div class="btn-group">
				<a href="/new_worksheet" class="btn btn-default"><span class="glyphicon glyphicon-file"></span> {{ gettext("New Worksheet") }}</a>
				<a href="#import_modal" class="btn btn-default" data-toggle="modal"><span class="glyphicon glyphicon-upload"></span>  {{ gettext("Upload") }}</a>
				<a href="/poak" class="btn btn-default"><span class="glyphicon glyphicon-share"></span>  {{ gettext("Open Worksheet from POAK") }}</a>
			</div>
		</div>
		{% endif %}
		<div class="{% if published_mode %}col-md-offset-8 {% endif %}col-md-4">
			<form action="#" class="form-search pull-right" style="margin-bottom:0" role="form">
				<div class="input-append">
					<div class="input-group input-sm">
						<input type="search" class=" form-control input-sm" placeholder="{{ gettext('Search') }}" id="search_input">
						<span id="search_clear">&times;</span>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default input-sm" id="submit_search"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div style="clear:both"></div>
	
	<div class="table-responsive">
		<table class="table table-striped worksheets_table">
			<thead>
				<tr>
					{% if not published_mode %}
					<th class="checkbox_cell"><input type="checkbox" id="main_checkbox" /></th>
					{% endif %}
					<th class="worksheet_name_cell">{{ gettext("Worksheet") }}</th>
					{#<th class="tags_cell">{{ gettext("Tags") }}</th>#}
					<th>{{ gettext("Owner/Collaborators") }}</th>
					<th class="last_edit_cell">{{ gettext("Last Edited") }}</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
{% endblock page %}

{% block after_container %}
	{% include 'html/modals/sharing_modal.html' %}
	{% include 'html/modals/import_modal.html' %}
{% endblock after_container %}

{% block extra_javascript %}
	{% assets filters="rjsmin", output="webassets_generated/worksheet_list.js",
		"sage/js/worksheet_list.js"
	%}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	
	<!-- jQuery UI -->
	<link rel="stylesheet" href="/data/jqueryui/css/sage/jquery-ui-1.8.11.custom.css" />
	<script type="text/javascript" src="/data/jqueryui/js/jquery-ui-1.8.11.custom.min.js"></script>
	<!-- TagIt -->
    <script src="/data/jquery/plugins/tagit/tag-it.js"></script>
	
	<script type="text/javascript">
		$(function() {
			// init notebook stuff
			sagenb.init();

			// init the worksheet list
			sagenb.worksheetlistapp.worksheet_list = new sagenb.worksheetlistapp.worksheet_list();
			{% if published_mode %}
			sagenb.worksheetlistapp.worksheet_list.published_mode = true;
			{% endif %}
			sagenb.worksheetlistapp.worksheet_list.init();
		});
	</script>
{% endblock extra_javascript %}
