{% extends 'html/base.html' %}

{% block head %}
	{{ super() }}

	<!-- CodeMirror -->
	<link rel="stylesheet" href="/data/codemirror-3.0/lib/codemirror.css">
	<!-- simple hinting -->
	<link rel="stylesheet" href="/data/codemirror-3.0/lib/util/simple-hint.css">
{% endblock head %}

{% block navbar %}
	{% if not published_mode %}
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ gettext("File") }} <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#" id="new_worksheet"><span class="glyphicon glyphicon-file"></span> {{ gettext("New Worksheet") }}</a></li>
					<li><a href="#" id="save_worksheet"><span class="glyphicon glyphicon-ok"></span> {{ gettext("Save Worksheet") }}</a></li>
					<li><a href="#" id="close_worksheet"><span class="glyphicon glyphicon-remove"></span> {{ gettext("Close Worksheet") }}</a></li>

					<li class="divider"></li>
					<li><a href="text" id="worksheet_text"><span class="glyphicon glyphicon-font"></span> Textansicht</a></li>
					<li><a href="edit" id="worksheet_edit"><span class="glyphicon glyphicon-pencil"></span> Textansicht (Editieren)</a></li>

					<li class="divider"></li>
					<li><a href="#" id="export_to_file"><span class="glyphicon glyphicon-export"></span> {{ gettext("Export to File") }}</a></li>
					<li><a href="#import_modal" id="import_from_file" data-toggle="modal"><span class="glyphicon glyphicon-import"></span> {{ gettext("Import from File") }}</a></li>

					<li class="divider"></li>
					<li><a href="#" id="print"><span class="glyphicon glyphicon-print"></span> {{ gettext("Print") }}</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ gettext("View")}} <span class="caret"></span></a>
				<ul class="dropdown-menu">
						<li><a href="#"><label for="typesetting_checkbox"><input name="typesetting_checkbox" type="checkbox" id="typesetting_checkbox"> {{ gettext("Typesetting") }}</label></a></li>
					<li><a href="#"><label for="line_numbers_checkbox"><input name="line_numbers_checkbox" type="checkbox" id="line_numbers_checkbox" checked> {{ gettext("Line numbers") }}</label></a></li>
					<li class="divider"></li>
					<li><a href="#"><label for="single_cell_mode_radio"><input name="cell_mode_radio" type="radio" id="single_cell_mode_radio" value="single"> {{ gettext("Single-cell Mode") }}</label></a></li>
					<li><a href="#"><label for="multi_cell_mode_radio"><input name="cell_mode_radio" type="radio" id="multi_cell_mode_radio" value="multi" checked> {{ gettext("Multi-cell Mode") }}</label></a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ gettext("Evaluation") }} <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#" id="evaluate_all_cells"><span class="glyphicon glyphicon-play"></span> {{ gettext("Evaluate all Cells") }}</a></li>
					<li><a href="#" id="interrupt"><span class="glyphicon glyphicon-stop"></span> {{ gettext("Interrupt") }}</a></li>
					<li><a href="#" id="interrupt_all"><span class="glyphicon glyphicon-stop"></span> {{ gettext("Interrupt All") }}</a></li>
					<!-- <li><a href="#" id="restart_worksheet"><span class="glyphicon glyphicon-refresh"></span> {{ gettext("Restart Worksheet") }}</a></li> !-->
					<li class="divider"></li>
					<li><a href="#system_modal" id="change_system" data-toggle="modal"><span class="glyphicon glyphicon-cog"></span> {{ gettext("Change system") }}</a></li>
					<li class="divider"></li>
					<li><a href="#" id="hide_all_output"><span class="glyphicon glyphicon-eye-close"></span> {{ gettext("Hide all output") }}</a></li>
					<li><a href="#" id="show_all_output"><span class="glyphicon glyphicon-eye-open"></span> {{ gettext("Show all output") }}</a></li>
					<li><a href="#" id="delete_all_output"><span class="glyphicon glyphicon-remove"></span> {{ gettext("Delete all output") }}</a></li>
					<li class="divider"></li>
					<li><a href="#"><label for="continue_computation_checkbox"><input name="continue_computation_checkbox" type="checkbox" id="continue_computation_checkbox"> {{ gettext("Continue computation on leave") }}</label></a></li>
				</ul>
			</li>
			<li><a href="#data_modal" data-toggle="modal">{{ gettext("Data") }}</a></li>
			<li><a href="#sharing_modal" id="sharing" data-toggle="modal">{{ gettext("Sharing") }}</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ gettext('Help') }}  <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/pages/help"><span class="glyphicon glyphicon-flag"></span> {{ gettext('Help') }}</a></li>
					<li><a href="/pages/einfuehrung"><span class="glyphicon glyphicon-book"></span> Spickzettel</a></li>
					<li class="divider"></li>
					<li><a href="#start_feedback" class="start_feedback"><span class="glyphicon glyphicon-heart"></span> {{ gettext('Report a Problem') }}</a></li>
				</ul>
			</li>
		</ul>
	{% else %}
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<li><a href="#" id="copy_to_own_notebook"><span class="glyphicon glyphicon-cloud-download"></span> Arbeitsblatt in eigenes Notebook laden</a></li>
		</li>
	</ul>
	{% endif %}
{% endblock navbar %}

{% block alerts %}
	{% include 'html/alerts/worksheet_locked_alert.html' %}
	{% include 'html/alerts/rename_alert.html' %}
{% endblock alerts %}

{% block before_page %}
	<div class="single_cell_controls">
		<div class="left_controls">
			<button type="button" class="btn" id="first_cell"><span class="glyphicon glyphicon-fast-backward"></span></button>
			<button type="button" class="btn btn-primary" id="previous_cell"><span class="glyphicon glyphicon-step-backward glyphicon glyphicon-white"></span></button>
		</div>
		
		<div class="progress_text"></div>
		
		<div class="progress">
			<div class="bar" style="width: 0%;"></div>
		</div>
		
		<div class="right_controls">
			<button type="button" class="btn btn-primary" id="next_cell"><span class="glyphicon glyphicon-step-forward glyphicon glyphicon-white"></span></button>
			<button type="button" class="btn" id="last_cell"><span class="glyphicon glyphicon-fast-forward"></span></button>
		</div>
	</div>
{% endblock before_page %}


{% block page %}
	<div class="worksheet_name">
		<h1 class="title"><!--Worksheet Name--></h1>
		<input type="text" />
	</div>
{% endblock page %}

{% block container_columns %}
	<div class="col-md-0 chat-message-box-container">
		<div id="chat-message-box" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Arbeitsblatt-Chat</h3>
				<div id="chat_userlist_box"><!-- = "Kollaboratoren: ..." --></div>
			</div>
			<div class="panel-body message_area">
			</div>
			<div class="panel-footer">
				<textarea class="form-control" id="chat_input_text"></textarea>
				<button class="btn btn-default btn-sm btn-block" id="chat_send_button" type="button">Senden</button>
			</div>
		</div>
	</div>
{% endblock container_columns %}

{% block after_container %}
	{% include 'html/modals/sharing_modal.html' %}
	{% include 'html/modals/system_modal.html' %}
	{% include 'html/modals/import_modal.html' %}
	{% include 'html/modals/data_modal.html' %}

	<iframe src="about:blank" id="Jmol_zindex_fix"></iframe>
{% endblock after_container %}

{% block extra_javascript %}
	{% assets output="webassets_generated/worksheet.js",
		"sage/js/load_mathjax.js",
		"codemirror-3.0/lib/codemirror.js",
		"codemirror-3.0/lib/util/matchbrackets.js",
		"codemirror-3.0/lib/util/simple-hint.js",
		"codemirror-3.0/mode/python/python.js",
		"codemirror-3.0/mode/stex/stex.js",
		"codemirror-3.0/mode/r/r.js",
		"codemirror-3.0/mode/shell/shell.js",
		"codemirror-3.0/mode/xml/xml.js",
		"codemirror-3.0/mode/javascript/javascript.js",
		"codemirror-3.0/mode/css/css.js",
		"codemirror-3.0/mode/htmlmixed/htmlmixed.js",
		"sage3d/sage3d.js",
		"sage/js/jmol.js",
		"sage/js/worksheet.js",
		"sage/js/chat.js",
		"sage/js/cell.js"
	%}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	
	<!-- Can't minify -->
	<!-- TinyMCE -->
	<script type="text/javascript" src="/data/tinymce-4.1.6/js/tinymce/tinymce.min.js"></script>

	<!-- Jmol - embedded 3D graphics -->
	<script type="text/javascript" src="/java/jmol/Jmol.js"></script>
	<script>jmolInitialize("/java/jmol");jmolSetCallback("menuFile","/java/jmol/appletweb/SageMenu.mnu");</script>

	<!-- These are already minified, so there's no point in minifying again -->
	<!-- jQuery plugins - color pickers, shift-click, AJAX forms, IE fixes, notifications -->
	<link rel="stylesheet" href="/data/jquery/plugins/farbtastic/farbtastic.css" type="text/css" />
	<script type="text/javascript" src="/data/jquery/plugins/farbtastic/farbtastic.min.js"></script>
	<script type="text/javascript" src="/data/jquery/plugins/extendedclick/jquery.event.extendedclick.min.js"></script>
	<script type="text/javascript" src="/data/jquery/plugins/form/jquery.form.min.js"></script>
	<script type="text/javascript" src="/data/jquery/plugins/jquery.bgiframe.min.js"></script>
	<link rel="stylesheet" href="/data/jquery/plugins/jpicker/css/jPicker-1.1.6.min.css" type="text/css" />
	<script type="text/javascript" src="/data/jquery/plugins/jpicker/jpicker-1.1.6.min.js"></script>
	<link rel="stylesheet" media="screen" type="text/css" href="/data/jquery/plugins/colorpicker/css/colorpicker.css" />
	<script type="text/javascript" src="/data/jquery/plugins/colorpicker/js/colorpicker.min.js"></script>
	<script type="text/javascript" src="/data/jquery/plugins/achtung/ui.achtung-mod.min.js"></script>
	<script type="text/javascript" src="/data/jquery/plugins/linkify/jquery.linkify.min.js"></script><!-- linkify hinzugefügt 2015-03, Context: https://elearning.physik.uni-frankfurt.de/projekt/ticket/1056 -->

	<script type="text/javascript">
		$(function() {
			// init notebook stuff
			sagenb.init();

			// create the worksheet
			sagenb.worksheetapp.worksheet = new sagenb.worksheetapp.worksheet();

			// grab the filename from the URL
			var fn = window.location.pathname;

			// take off /home/
			fn = fn.substring(6);

			// take off last /
			if(fn.substring(fn.length - 1, fn.length) === "/") {
				// some versions of IE don't support fn.substring(-1)
				fn = fn.substring(0, fn.length - 1);
			}

			// set filename
			sagenb.worksheetapp.worksheet.filename = fn;

			{% if published_mode %}
			sagenb.worksheetapp.worksheet.published_mode = true;
			{% endif %}

			// initialize
			sagenb.worksheetapp.worksheet.init();
			
			// slider synch
			$('.ui-slider').live('slide slidechange', function(e){
				if(sagenb.worksheetapp.worksheet.access_to_slider === true){
					sagenb.worksheetapp.worksheet.socket.emit('slider_state', $(this).slider("value"), $(this).attr('id'));
				}
				sagenb.worksheetapp.worksheet.access_to_slider = true;
			});
		});
	</script>
{% endblock extra_javascript %}
