{% extends 'html/base.html' %}

{% block alerts %}
	{% include 'html/alerts/worksheet_locked_alert.html' %}
	{% include 'html/alerts/rename_alert.html' %}
{% endblock alerts %}

{% block navbar %}
	{% if not published_mode %}
	<ul class="nav navbar-nav">
		<li class="dropdown" id="new_menu">
			<a href="#new" class="dropdown-toggle" data-toggle="dropdown">{{ gettext("New file") }} <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/new_worksheet" class=""><span class="glyphicon glyphicon-file"></span> {{ gettext("New Worksheet") }}</span></a></li>
				<li><a href="#import_modal" class="" data-toggle="modal"><span class="glyphicon glyphicon-upload"></span> {{ gettext("Upload") }}</a></li>
				<li><a href="/poak" class=""><span class="glyphicon glyphicon-cloud-download"></span> {{ gettext("Open Worksheet from POAK") }}</a></li>
			</ul>
		</li>
		<li class="dropdown" id="actions_menu">
			<a href="#action" class="dropdown-toggle" data-toggle="dropdown">{{ gettext("Action") }} <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><span class="help-block small" style="padding: 0 8px; margin: 0;">{{ gettext("Apply to selected worksheets") }}...</span></li>
				<li class="divider"></li>
				<li><a href="#" class="disabled" id="send_to_archive_button"><span class="glyphicon glyphicon-folder-close"></span> {{ gettext("Archive") }}</a></li>
				<li><a href="#" class="disabled" id="unarchive_button"><span class="glyphicon glyphicon-folder-open"></span> {{ gettext("Unarchive") }}</a></li>
				<li><a href="#" class="disabled" id="delete_button"><span class="glyphicon glyphicon-trash"></span> {{ gettext("Delete") }}</a></li>
				<li><a href="#" class="disabled" id="undelete_button"><span class="glyphicon glyphicon-refresh"></span> {{ gettext("Undelete") }}</a></li>
				<li><a href="#" class="disabled" id="duplicate_button"><span class="glyphicon glyphicon-duplicate"></span> {{ gettext("Duplicate") }}</a></li>
				<li><a href="#" class="disabled" id="stop_button"><span class="glyphicon glyphicon-stop"></span> {{ gettext("Stop") }}</a></li>
				<li><a href="#" class="disabled" id="download_button"><span class="glyphicon glyphicon-download"></span> {{ gettext("Download") }}</a></li>
				<li class="divider"></li>
				<li><a href="#" class="disabled" id="empty_trash"><span class="glyphicon glyphicon-fire"></span> {{ gettext("Empty Trash") }}</a></li>
			</ul>
		</li>
		<li class="dropdown" id="type_buttons">
			<a href="#new" class="dropdown-toggle" data-toggle="dropdown">{{ gettext("View") }} <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#change_folder" id="show_active"> {{ gettext("Active Worksheets") }}</a></li>
				<li><a href="#change_folder" id="show_archive"> {{ gettext("Archived Worksheets") }}</a></li>
				<li><a href="#change_folder" id="show_trash"> {{ gettext("Deleted Worksheets") }}</a></li>
			</ul>
		</li>
	</ul>
	{% else %}
	{{ super() }}
	{% endif %}
{% endblock navbar %}

{% block page %}
	<h2 class="title"></h2>
	
	<form action="#" class="form-search" role="form">
		<div class="input-group">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default" id="submit_search"><span class="glyphicon glyphicon-search"></span></button>
			</span>
			<input type="search" class=" form-control" placeholder="{{ gettext('Search') }}" id="search_input" autofocus>
			<span class="input-group-btn">
				<button class="btn btn-default" id="search_clear"><span class="glyphicon glyphicon-remove-circle"></span></button>
			</span>
		</div>
	</form>

	{% if published_mode %}
		{# im "Published Worksheets"-Modus, also anonym #}
		<div class="pokal well well-sm">
			Diese Seite enthält eine Liste von Arbeitsblättern (Worksheets), die von
			anderen Benutzern der POKAL-Plattform erstellt wurden. Sie eignet sich zum
			gefahrlosen Entdecken der Funktionen von POKAL. Als <a href="/login">eingeloggter Benutzer</a>
			besteht die Möglichkeit, auf diesen Arbeitsblättern aufzubauen.
		</div>
	{% endif %}
	
	<div class="table-responsive">
		<table class="table table-striped worksheets_table">
			<thead>
				<tr>
					{% if not published_mode %}
					<th class="checkbox_cell"><input type="checkbox" id="main_checkbox" /></th>
					{% endif %}
					<th class="worksheet_name_cell">{{ gettext("Worksheet") }}</th>
					{#<th class="tags_cell">{{ gettext("Tags") }}</th>#}
					<th>{{ gettext("Owner/Collaborators") }}</th>
					<th class="last_edit_cell">{{ gettext("Last Edited") }}</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
{% endblock page %}

{% block after_container %}
	{% include 'html/modals/sharing_modal.html' %}
	{% include 'html/modals/import_modal.html' %}
{% endblock after_container %}

{% block extra_javascript %}
	<!-- TagIt -->
	<link href="/data/jquery/plugins/tagit/jquery.tagit.css" rel="stylesheet" type="text/css">
	<link href="/data/jquery/plugins/tagit/tagit.ui-sage.css" rel="stylesheet" type="text/css">
    <script src="/data/jquery/plugins/tagit/tag-it.js"></script>
	
	{% assets filters="rjsmin", output="webassets_generated/worksheet_list.js",
		"sage/js/worksheet_list.js"
	%}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	
	<script type="text/javascript">
		$(function() {
			// init notebook stuff
			sagenb.init();

			// init the worksheet list
			sagenb.worksheetlistapp.worksheet_list = new sagenb.worksheetlistapp.worksheet_list();
			{% if published_mode %}
			sagenb.worksheetlistapp.worksheet_list.published_mode = true;
			{% endif %}
			sagenb.worksheetlistapp.worksheet_list.init();
		});
	</script>
{% endblock extra_javascript %}
