/*
 * PhysikOnline design adaption
 */

// Chat-Implementierung
.chat {
	#chat_userlist_box {
		padding: 0.3em;
		font-size: 80%;
		background-color: #eee;
	}
	
	
	#chat_input_text { // textarea
		resize: vertical;
		width: 100%;
		margin-bottom: 0;
		padding: 0.5em;
	}
	
	p.line {
		margin: .1em 0;
		font-size: 80%;
	}
	
	// haessliche hacks um das dialog .ui-dialog-buttonpane wiederzuverwenden.
	// TODO: Das ganze ans Bootstrap-Layout anpassen!
	button {
		margin: 0;
	}
	
	.ui-dialog-buttonpane {
		margin-bottom: -10px;
		padding-bottom: 0;
	}
}