/*
 * PhysikOnline design adaption
 */

// Chat-Implementierung, jetzt als Bootstrap3 column statt jQueryUI Window
#chat-message-box {
	margin-left: -15px; // einheitliche margins
	position: relative; // scrollfix per JS

	textarea {
		resize: vertical;
		margin-bottom: 0;
	}
	
	p.line {
		margin: .1em 0;
		//font-size: 80%; // POTT #997
	}
	
	&.pseudo_fixed {
		// when the "Pseudo" fixed styles apply (JS)
		div.panel-body {
			// height gesetzt per JS
			overflow-y: auto; // TODO -> auto einstellen.
		}
		
		div.panel-footer {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}
}

// Running-Label in Worksheet-Liste, #997
span.running_label {
	font-size: 100%;
}

// Startseite
.sponsor-min-height {
	min-height: 80px;
}

// Seit Bootstrap3 gibts einige Menu-Elementtypen nicht mehr, die wir jetzt "simulieren":
.quasi-nav-element() {
	// von bs3: .dropdown-menu > li > a
	clear: both;
	color: #333;
	display: block;
	font-weight: 400;
	line-height: 1.42857;
	padding: 3px 20px;
	white-space: nowrap;
}

li.nav-header {
	.quasi-nav-element;
	color: #7b7b7b;
	margin-top: .5em;
}

ul.dropdown-menu > li > a > label {
	// bs3 styles deaktivieren:
	cursor: pointer;
	font-weight: inherit;
	
	input {
		margin: inherit !important;
		position: relative !important;
	}
}

ul.nav > li > a {
	/* Bei aktiven Buttons nie eine gestrichelte Umrandung zeigen
	   (besonders nervig bei chat an/aus-button) */
	outline: none;
}

// Weitere Fixes, wo der Style nicht mehr richtig ist:
div.worksheet_name input {
	// soll style von h1 entsprechen
	font-size: 42px;
	line-height: 48px;
	font-weight: 500;
	font-family: inherit;
	margin-top: 20px;
}

// Ein LESS-Ingredient fuer die chatbox...
.col-xs-0, .col-sm-0, .col-md-0, .col-lg-0 {
	width: 0;
	opacity: 0; // netter Effekt bei switchClass jQuery UI
	// keinen Platz reservieren!
	height: 0; overflow: hidden;
}